<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>笔趣阁_作者笔下有趣的笔趣阁楼</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="笔趣阁,笔趣阁乐园" />
<meta name="description" content="笔趣阁是广大书友喜欢的网络小说网,作者笔下有趣的网络笔趣阁楼,欢迎大家来到真正的笔趣阁乐园。" />
<meta name="mobile-agent" content="format=html5;url=https://m.bequge.com/"/>
<meta name="mobile-agent" content="format=xhtml;url=https://m.bequge.com/"/>
<link rel="stylesheet" type="text/css" href="/css/p_reset.css"/>
<script type="text/javascript" src="https://libs.baidu.com/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="/images/bqg.js"></script>
<script language="javascript">  
function is_mobile() {  
var regex_match = /(nokia|iphone|android|motorola|^mot-|softbank|foma|docomo|kddi|up.browser|up.link|htc|dopod|blazer|netfront|helio|hosin|huawei|novarra|CoolPad|webos|techfaith|palmsource|blackberry|alcatel|amoi|ktouch|nexian|samsung|^sam-|s[cg]h|^lge|ericsson|philips|sagem|wellcom|bunjalloo|maui|symbian|smartphone|midp|wap|phone|windows ce|iemobile|^spice|^bird|^zte-|longcos|pantech|gionee|^sie-|portalmmm|jigs browser|hiptop|^benq|haier|^lct|operas*mobi|opera*mini|320x320|240x320|176x220)/i;  
var u = navigator.userAgent;  
if (null == u) {  
return true;  
}  
var result = regex_match.exec(u);  
if (null == result) {  
return false  
} else {  
return true  
}  
}  
function QueryString(item)
{
    var sValue=location.search.match(new RegExp("[\?\&]"+item+"=([^\&]*)(\&?)","i"))
    return sValue?sValue[1]:sValue
}
if (QueryString("ID")!="t" && is_mobile()) {  
document.location.href= 'https://m.bequge.com/';  
}  </script>
<link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
	<div id="wrapper">
		<script>login();</script>
		<div class="header">
			<div class="header_logo">
				<a href="https://www.bequge.com">笔趣阁</a>
			</div>
			<script>bqg_panel();</script>
		</div>
		<div class="nav">
			<ul>
				<li><a href="https://www.bequge.com/">首页</a></li>				
				<li><a href="/xuanhuanxiaoshuo/">玄幻小说</a></li>
				<li><a href="/xiuzhenxiaoshuo/">修真小说</a></li>
				<li><a href="/dushixiaoshuo/">都市小说</a></li>
				<li><a href="/chuanyuexiaoshuo/">穿越小说</a></li>
				<li><a href="/wangyouxiaoshuo/">网游小说</a></li>
				<li><a href="/kehuanxiaoshuo/">科幻小说</a></li>
				<li><a href="/paihangbang/">排行榜单</a></li>
				<li><a href="/xiaoshuodaquan/">全部小说</a></li>
<li><a href="/modules/article/bookcase.php" rel="nofollow">我的书架</a></li>
			</ul>
		</div>
	<div class="dahengfu"><script type="text/javascript">list1();</script></div>	
<div id="main">

<div id="hotcontent">


<div class="l">
	 
  <div class="item">
        <div class="image"><a href="https://www.bequge.com/7_7721/"><img src="https://www.bequge.com/files/article/image/7/7721/7721s.jpg" alt="锦衣春秋"  width="120" height="150" /></a></div>
        <dl>
           <dt><span>沙漠</span><a href="https://www.bequge.com/7_7721/">锦衣春秋</a></dt>
           <dd>    安忍不动如大地，静虑深密如秘藏！地藏卷轴突现世间，黄金凤凰再临天地，南北争雄，密云重重。深宫诡虞，疆场喋血。以天地为棋盘，众生为弈子，英雄豪杰，风月美人，演一出旷世棋局！本书官方群：563369419 微信公众号：锦衣沙漠
    各位书友要是觉得《锦衣春秋......</dd>
        </dl>
        <div class="clear"></div>
      </div>  
 
  <div class="item">
        <div class="image"><a href="https://www.bequge.com/42_42237/"><img src="https://www.bequge.com/files/article/image/42/42237/42237s.jpg" alt="元尊"  width="120" height="150" /></a></div>
        <dl>
           <dt><span>天蚕土豆</span><a href="https://www.bequge.com/42_42237/">元尊</a></dt>
           <dd>    吾有一口玄黄气，可吞天地日月星。天蚕土豆最新鼎力大作，2017年度必看玄幻小说。
    各位书友要是觉得《元尊》还不错的话请不要忘记向您QQ群和微博里的朋友推荐哦！
...</dd>
        </dl>
        <div class="clear"></div>
      </div>  
 
  <div class="item">
        <div class="image"><a href="https://www.bequge.com/11_11694/"><img src="https://www.bequge.com/files/article/image/11/11694/11694s.jpg" alt="三寸人间"  width="120" height="150" /></a></div>
        <dl>
           <dt><span>耳根</span><a href="https://www.bequge.com/11_11694/">三寸人间</a></dt>
           <dd>　　星空古剑，万族进化，缥缈道院，谁与争锋
　　天下万物，神兵不朽，宇宙苍穹，太虚称尊
　　青木年华，悠悠牧之，其意欢快，恰似朝阳
　　少年宝乐，心怀梦想，以兵入道，指天摘月
　　仕途多舛，法器克之，灵宝制之，法兵镇之……若皆无果，神兵斩之！
　　......</dd>
        </dl>
        <div class="clear"></div>
      </div>  
 
  <div class="item">
        <div class="image"><a href="https://www.bequge.com/30_30046/"><img src="https://www.bequge.com/files/article/image/30/30046/30046s.jpg" alt="明朝败家子"  width="120" height="150" /></a></div>
        <dl>
           <dt><span>上山打老虎额</span><a href="https://www.bequge.com/30_30046/">明朝败家子</a></dt>
           <dd>　　“好了，好了，我承认，我不是人，我是败家子，我卑鄙，我无耻，我卖了家业，我愧对祖先，我还四处沾花惹草，恶贯满盈。爹，有话好好说，可以把你的大刀放下好吗？”...</dd>
        </dl>
        <div class="clear"></div>
      </div>  

</div>
  

    <div class="r">
     <h2>公告牌</h2>
		<ul>
        	<li><strong>纵横大神沙漠新书锦衣春秋重磅来袭</strong></li>	
		</ul> 
	 <h2>上期强推</h2>
		<ul>
        	 <li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.bequge.com/1_1810/">大龟甲师</a></span><span class="s5">唐家三少</span></li> <li><span class="s1">[科幻]</span><span class="s2"><a href="https://www.bequge.com/11_11147/">黎明之剑</a></span><span class="s5">远瞳</span></li> <li><span class="s1">[修真]</span><span class="s2"><a href="https://www.bequge.com/10_10559/">飞剑问道</a></span><span class="s5">我吃西红柿</span></li> <li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.bequge.com/42_42237/">元尊</a></span><span class="s5">天蚕土豆</span></li> <li><span class="s1">[网游]</span><span class="s2"><a href="https://www.bequge.com/9_9648/">问道章</a></span><span class="s5">文抄公</span></li> <li><span class="s1">[修真]</span><span class="s2"><a href="https://www.bequge.com/3_3109/">剑来</a></span><span class="s5">烽火戏诸侯</span></li>
		</ul>
    </div>
    <div class="clear"></div>
  </div>
  

<div class="dahengfu"><script type="text/javascript">list1();</script></div>
 

<div class="novelslist">

<div class="content">
  <h2>玄幻小说</h2>
  <div class="top">
<div class="image"><img src="https://www.bequge.com/files/article/image/42/42237/42237s.jpg" alt="元尊"  width="67" height="82" /></div>
<dl><dt><a href="https://www.bequge.com/42_42237/">元尊</a></dt><dd>    吾有一口玄黄气，可吞天地日月星。天蚕土豆最新鼎力大作，2017年度必看玄幻小说。
    各位书友要是觉得《元尊》还不错的话请不要忘记向您QQ群和微博里的朋友推荐哦！
...</dd></dl>
<div class="clear"></div></div>
<ul>
<li><a href="https://www.bequge.com/0_124/">诡秘之主</a>/爱潜水的乌贼</li><li><a href="https://www.bequge.com/0_300/">九星霸体诀</a>/平凡魔术师</li><li><a href="https://www.bequge.com/3_3266/">修罗武神</a>/善良的蜜蜂</li><li><a href="https://www.bequge.com/46_46272/">史上最强赘婿</a>/沉默的糕点</li><li><a href="https://www.bequge.com/28_28784/">天下第九</a>/鹅是老五</li><li><a href="https://www.bequge.com/10_10008/">剑王传说</a>/失落叶</li><li><a href="https://www.bequge.com/10_10405/">皇道</a>/雾外江山</li><li><a href="https://www.bequge.com/10_10186/">战破苍穹</a>/龙大人</li><li><a href="https://www.bequge.com/10_10028/">万法梵医</a>/相思洗红豆</li><li><a href="https://www.bequge.com/9_9697/">九天剑主</a>/火神</li><li><a href="https://www.bequge.com/10_10067/">娱乐点金手</a>/俗人小黑</li><li><a href="https://www.bequge.com/10_10033/">大逆之门</a>/知白</li>
</ul>
</div>

<div class="content">
   <h2>修真小说</h2>
  <div class="top">
<div class="image"><img src="https://www.bequge.com/files/article/image/11/11694/11694s.jpg" alt="三寸人间"  width="67" height="82" /></div>
<dl><dt><a href="https://www.bequge.com/11_11694/">三寸人间</a></dt><dd>　　星空古剑，万族进化，缥缈道院，谁与争锋
　　天下万物，神兵不朽，宇宙苍穹，太虚称尊
　　青木年华，悠悠牧之，其意欢快，恰似朝阳
　　少年宝乐，心怀梦想，以兵入道，指天摘月
　　仕途多舛，法器克之，灵宝制之，法兵镇之……若皆无果，神兵斩之！
　　......</dd></dl>
<div class="clear"></div></div>
<ul>
<li><a href="https://www.bequge.com/10_10168/">黑暗王者</a>/古羲</li><li><a href="https://www.bequge.com/10_10559/">飞剑问道</a>/我吃西红柿</li><li><a href="https://www.bequge.com/10_10671/">人皇纪</a>/皇甫奇</li><li><a href="https://www.bequge.com/3_3109/">剑来</a>/烽火戏诸侯</li><li><a href="https://www.bequge.com/11_11519/">秦楼春</a>/Loeva</li><li><a href="https://www.bequge.com/10_10128/">恐怖女主播</a>/吞鬼的女孩</li><li><a href="https://www.bequge.com/10_10094/">乡村直播间</a>/山村户口</li><li><a href="https://www.bequge.com/1_1383/">诛仙前传：蛮荒行</a>/萧鼎</li><li><a href="https://www.bequge.com/5_5309/">一念永恒</a>/耳根</li><li><a href="https://www.bequge.com/15_15955/">凡人修仙之仙界篇</a>/忘语</li><li><a href="https://www.bequge.com/10_10258/">全能大歌王</a>/葆星</li><li><a href="https://www.bequge.com/10_10148/">神级大矿主</a>/五彩贝壳</li>
</ul>
  </div>



<div class="content border">
   <h2>都市小说</h2>
  <div class="top">
<div class="image"><img src="https://www.bequge.com/files/article/image/24/24077/24077s.jpg" alt="全球高武"  width="67" height="82" /></div>
<dl><dt><a href="https://www.bequge.com/24_24077/">全球高武</a></dt><dd>　　今日头条——
　　“大马宗师突破九品，征战全球！”
　　“小马宗师问鼎至高，横扫欧亚！”
　　“乔帮主再次出手，疑似九品大宗师境！”
　　“股神宝刀未老，全球宗师榜再入前十！”
　　“……”
　　看着一条条新闻闪现，方平心好累，这剧本不对啊！...</dd></dl>
<div class="clear"></div></div>
<ul>
<li><a href="https://www.bequge.com/10_10777/">前方高能</a>/莞尔wr</li><li><a href="https://www.bequge.com/10_10855/">大医凌然</a>/志鸟村</li><li><a href="https://www.bequge.com/45_45401/">欢喜记事</a>/木嬴</li><li><a href="https://www.bequge.com/0_32/">最强狂兵</a>/烈焰滔滔</li><li><a href="https://www.bequge.com/11_11537/">校花的全能保安</a>/老施</li><li><a href="https://www.bequge.com/46_46253/">重生野性时代</a>/王梓钧</li><li><a href="https://www.bequge.com/9_9500/">少年王</a>/抚琴的人</li><li><a href="https://www.bequge.com/11_11863/">重生落魄农村媳</a>/八匹</li><li><a href="https://www.bequge.com/10_10670/">超凡兵王</a>/8难</li><li><a href="https://www.bequge.com/5_5058/">最强医圣</a>/左耳思念</li><li><a href="https://www.bequge.com/5_5461/">七零年，有点甜</a>/七星草</li><li><a href="https://www.bequge.com/11_11708/">我的白富美老师</a>/雁门关外</li>
</ul>
  </div>


<div class="clear"></div>
</div>

<div class="novelslist">

<div class="content">
    <h2>穿越小说</h2>
  <div class="top">
<div class="image"><img src="https://www.bequge.com/files/article/image/7/7721/7721s.jpg" alt="锦衣春秋"  width="67" height="82" /></div>
<dl><dt><a href="https://www.bequge.com/7_7721/">锦衣春秋</a></dt><dd>    安忍不动如大地，静虑深密如秘藏！地藏卷轴突现世间，黄金凤凰再临天地，南北争雄，密云重重。深宫诡虞，疆场喋血。以天地为棋盘，众生为弈子，英雄豪杰，风月美人，演一出旷世棋局！本书官方群：563369419 微信公众号：锦衣沙漠
    各位书友要是觉得《锦衣春秋......</dd></dl>
<div class="clear"></div></div>
<ul>
<li><a href="https://www.bequge.com/30_30046/">明朝败家子</a>/上山打老虎额</li><li><a href="https://www.bequge.com/0_17/">至高使命</a>/梦入洪荒</li><li><a href="https://www.bequge.com/9_9995/">汉乡</a>/孑与2</li><li><a href="https://www.bequge.com/44_44356/">秦吏</a>/七月新番</li><li><a href="https://www.bequge.com/1_1794/">天影</a>/萧鼎</li><li><a href="https://www.bequge.com/6_6583/">我的邻居是皇帝</a>/青史尽成灰</li><li><a href="https://www.bequge.com/7_7002/">大文豪</a>/上山打老虎额</li><li><a href="https://www.bequge.com/8_8814/">我要做门阀</a>/要离刺荆轲</li><li><a href="https://www.bequge.com/8_8224/">大宋巨星</a>/何昊远</li><li><a href="https://www.bequge.com/11_11970/">崛起军工</a>/安溪柚</li><li><a href="https://www.bequge.com/11_11988/">寒门枭士</a>/高月</li><li><a href="https://www.bequge.com/11_11440/">江南第一媳</a>/乡村原野</li>
</ul>
  </div>

<div class="content">
   <h2>网游小说</h2>
  <div class="top">
<div class="image"><img src="https://www.bequge.com/files/article/image/45/45661/45661s.jpg" alt="超神机械师"  width="67" height="82" /></div>
<dl><dt><a href="https://www.bequge.com/45_45661/">超神机械师</a></dt><dd>    韩萧，《星海》骨灰级代练，被来自东（zuo）方(zhe)的神秘力量扔进穿越大军，携带玩家面板变成NPC，回到《星海》公测之前，毅然选择难度最高的机械系。
    战舰列队纵横星海，星辰机甲夭矫如龙，幽能炮毁天灭地，还有无边无际的机械大军，静静待在随身仓库里
......</dd></dl>
<div class="clear"></div></div>
<ul>
<li><a href="https://www.bequge.com/48_48417/">联盟之魔王系统</a>/神秘的大西瓜</li><li><a href="https://www.bequge.com/11_11395/">重启游戏时代</a>/青衫取醉</li><li><a href="https://www.bequge.com/2_2981/">逍遥梦路</a>/文抄公</li><li><a href="https://www.bequge.com/8_8769/">续南明</a>/老白牛</li><li><a href="https://www.bequge.com/5_5754/">绝顶枪王</a>/果味喵</li><li><a href="https://www.bequge.com/15_15442/">网游之圣光降临</a>/历二十三</li><li><a href="https://www.bequge.com/8_8423/">宋末之乱臣贼子</a>/堕落的狼崽</li><li><a href="https://www.bequge.com/10_10935/">超级运动专家</a>/XX神</li><li><a href="https://www.bequge.com/16_16808/">篮坛拳击手</a>/寻寻咪咪</li><li><a href="https://www.bequge.com/35_35200/">王者时刻</a>/蝴蝶蓝</li><li><a href="https://www.bequge.com/16_16690/">英雄联盟之最强荣耀</a>/小苹果</li><li><a href="https://www.bequge.com/0_905/">重生之最强剑神</a>/天运老猫</li>
</ul>
  </div>

<div class="content border">
   <h2>科幻小说</h2>
  <div class="top">
<div class="image"><img src="https://www.bequge.com/files/article/image/10/10994/10994s.jpg" alt="圣墟"  width="67" height="82" /></div>
<dl><dt><a href="https://www.bequge.com/10_10994/">圣墟</a></dt><dd>在破败中崛起，在寂灭中复苏。
　　沧海成尘，雷电枯竭，那一缕幽雾又一次临近大地，世间的枷锁被打开了，一个全新的世界就此揭开神秘的一角……...</dd></dl>
<div class="clear"></div></div>
<ul>
<li><a href="https://www.bequge.com/46_46076/">纵横诸天的武者</a>/我叫排云掌</li><li><a href="https://www.bequge.com/5_5224/">最强的系统</a>/新丰</li><li><a href="https://www.bequge.com/11_11996/">重生之最强人生</a>/俊秀才</li><li><a href="https://www.bequge.com/9_9920/">剑与魔法与出租车</a>/索斯</li><li><a href="https://www.bequge.com/4_4008/">唐朝好地主</a>/木子蓝色</li><li><a href="https://www.bequge.com/15_15768/">主神降临英雄联盟</a>/会写字的蜗牛</li><li><a href="https://www.bequge.com/8_8877/">超级光脑系统</a>/秒速九光年</li><li><a href="https://www.bequge.com/9_9870/">贼警</a>/虾写</li><li><a href="https://www.bequge.com/11_11541/">斩龙</a>/通吃道人.QD</li><li><a href="https://www.bequge.com/11_11993/">勾魂儿</a>/奔放的程序员、</li><li><a href="https://www.bequge.com/11_11025/">茅山后裔</a>/王十四</li><li><a href="https://www.bequge.com/11_11385/">万古狂神</a>/若安息</li>
</ul>  </div>
<div class="clear"></div>
</div>



<div id="newscontent">

<div class="l">
<h2>最近更新小说列表</h2>
<ul>
       
<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.bequge.com/51_51478/" target="_blank">索命之爱</a></span><span class="s3"><a href="/51_51478/15636774.html" target="_blank">第11章</a></span><span class="s4">碎铁衣</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[修真小说]</span><span class="s2"><a href="https://www.bequge.com/45_45509/" target="_blank">正版修仙</a></span><span class="s3"><a href="/45_45509/15636763.html" target="_blank">第724章 女人都喜欢自欺欺人</a></span><span class="s4">叶恨水</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.bequge.com/50_50361/" target="_blank">都市惊奇日记</a></span><span class="s3"><a href="/50_50361/15636762.html" target="_blank">115．觉醒者</a></span><span class="s4">愤怒的黄雀</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.bequge.com/51_51477/" target="_blank">带着满天神佛穿越</a></span><span class="s3"><a href="/51_51477/15636761.html" target="_blank">第四百三十五章 强敌频现，血染镜水湖</a></span><span class="s4">古寒江</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.bequge.com/47_47859/" target="_blank">文娱帝国</a></span><span class="s3"><a href="/47_47859/15636755.html" target="_blank">第170章 侯洪亮和孔导</a></span><span class="s4">我最白</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[穿越小说]</span><span class="s2"><a href="https://www.bequge.com/47_47501/" target="_blank">蜀汉大崩盘</a></span><span class="s3"><a href="/47_47501/15636753.html" target="_blank">第一百二十四章 固山派</a></span><span class="s4">三七开</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[其他小说]</span><span class="s2"><a href="https://www.bequge.com/31_31052/" target="_blank">狂探</a></span><span class="s3"><a href="/31_31052/15636751.html" target="_blank">第1764章 火眼金睛</a></span><span class="s4">旷海忘湖</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[修真小说]</span><span class="s2"><a href="https://www.bequge.com/50_50515/" target="_blank">武侠之无尽吞噬</a></span><span class="s3"><a href="/50_50515/15636746.html" target="_blank">第60章 迷路</a></span><span class="s4">黑风山恶少</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.bequge.com/51_51327/" target="_blank">帝道无边</a></span><span class="s3"><a href="/51_51327/15636739.html" target="_blank">第五十三章：真正的扶桑神叶</a></span><span class="s4">雪橇四傻</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[穿越小说]</span><span class="s2"><a href="https://www.bequge.com/48_48188/" target="_blank">回到上古当大王</a></span><span class="s3"><a href="/48_48188/15636736.html" target="_blank">第二百一十九章 养老政策</a></span><span class="s4">满格的信号</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.bequge.com/49_49302/" target="_blank">我吞了全宇宙</a></span><span class="s3"><a href="/49_49302/15636732.html" target="_blank">第六十三章 局中局</a></span><span class="s4">白面刺客</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[科幻小说]</span><span class="s2"><a href="https://www.bequge.com/48_48626/" target="_blank">我不当鬼帝</a></span><span class="s3"><a href="/48_48626/15636728.html" target="_blank">第678章 要有仪式感</a></span><span class="s4">一步临凡</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.bequge.com/48_48190/" target="_blank">国民的岳父</a></span><span class="s3"><a href="/48_48190/15636725.html" target="_blank">第四百七十五章 江才郎尽？</a></span><span class="s4">汽水03</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.bequge.com/0_419/" target="_blank">带着农场混异界</a></span><span class="s3"><a href="/0_419/15636399.html" target="_blank">第八百九十四章 提醒</a></span><span class="s4">明宇</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[穿越小说]</span><span class="s2"><a href="https://www.bequge.com/46_46779/" target="_blank">大唐医王</a></span><span class="s3"><a href="/46_46779/15636393.html" target="_blank">第二十四章 大疫</a></span><span class="s4">草席</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.bequge.com/48_48082/" target="_blank">重生之最强蜜婚</a></span><span class="s3"><a href="/48_48082/15636391.html" target="_blank">第139章 不可辱（求推荐票）</a></span><span class="s4">咪菟</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.bequge.com/22_22518/" target="_blank">符武通灵</a></span><span class="s3"><a href="/22_22518/15636386.html" target="_blank">第2461章 四象战阵</a></span><span class="s4">寸舌</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[科幻小说]</span><span class="s2"><a href="https://www.bequge.com/37_37369/" target="_blank">夜不语诡异档案</a></span><span class="s3"><a href="/37_37369/15636377.html" target="_blank">第2233章 阴森山岗（1）</a></span><span class="s4">夜不语</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.bequge.com/50_50188/" target="_blank">我的合租大小姐</a></span><span class="s3"><a href="/50_50188/15636372.html" target="_blank">第2704章 周熏邀请</a></span><span class="s4">少年小蜗</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[科幻小说]</span><span class="s2"><a href="https://www.bequge.com/44_44089/" target="_blank">轮回乐园</a></span><span class="s3"><a href="/44_44089/15636367.html" target="_blank">第二十五章：财政大臣</a></span><span class="s4">那一只蚊子</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[穿越小说]</span><span class="s2"><a href="https://www.bequge.com/50_50204/" target="_blank">狼牙兵王</a></span><span class="s3"><a href="/50_50204/15636365.html" target="_blank">第1524章 击杀教官</a></span><span class="s4">蝼蚁望天</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[其他小说]</span><span class="s2"><a href="https://www.bequge.com/51_51023/" target="_blank">巅峰御魂师</a></span><span class="s3"><a href="/51_51023/15636363.html" target="_blank">第88章 到此为止</a></span><span class="s4">舍得二仙</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.bequge.com/50_50901/" target="_blank">重生都市狂神</a></span><span class="s3"><a href="/50_50901/15636360.html" target="_blank">第74章 再次上门</a></span><span class="s4">叶三仙</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.bequge.com/50_50948/" target="_blank">花都逆袭女神系统</a></span><span class="s3"><a href="/50_50948/15636358.html" target="_blank">第197章 敢对风爷动杀意</a></span><span class="s4">皮皮水</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.bequge.com/17_17393/" target="_blank">美女董事长的近身高手</a></span><span class="s3"><a href="/17_17393/15636354.html" target="_blank">第2544章 你这么做的意义是什么</a></span><span class="s4">在天</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[其他小说]</span><span class="s2"><a href="https://www.bequge.com/46_46119/" target="_blank">日月同辉</a></span><span class="s3"><a href="/46_46119/15636350.html" target="_blank">第336章 温柔只对你</a></span><span class="s4">乡村原野</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[其他小说]</span><span class="s2"><a href="https://www.bequge.com/32_32065/" target="_blank">小农民大明星</a></span><span class="s3"><a href="/32_32065/15636345.html" target="_blank">第二千三百零五章 有了！下文有了！</a></span><span class="s4">在乡下</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.bequge.com/50_50759/" target="_blank">仙帝成长系统</a></span><span class="s3"><a href="/50_50759/15636339.html" target="_blank">第五十四章 信不信？</a></span><span class="s4">天雷猪</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.bequge.com/44_44176/" target="_blank">无限先知</a></span><span class="s3"><a href="/44_44176/15636342.html" target="_blank">第一千二百三十章 回归</a></span><span class="s4">吴杰超</span><span class="s5">03-27</span></li>
       
<li><span class="s1">[网游小说]</span><span class="s2"><a href="https://www.bequge.com/50_50012/" target="_blank">超级格斗家系统</a></span><span class="s3"><a href="/50_50012/15636338.html" target="_blank">第191章 赛后医所</a></span><span class="s4">木图腾</span><span class="s5">03-27</span></li>

 </ul>
</div>



<div class="r">
<h2>最新入库小说</h2>
<ul>
 
<li><span class="s1">[都市]</span><span class="s2"><a href="https://www.bequge.com/51_51478/">索命之爱</a></span><span class="s5">碎铁衣</span></li>
 
<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.bequge.com/51_51477/">带着满天神佛穿越</a></span><span class="s5">古寒江</span></li>
 
<li><span class="s1">[穿越]</span><span class="s2"><a href="https://www.bequge.com/51_51476/">台城遗梦</a></span><span class="s5">白袍将</span></li>
 
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.bequge.com/51_51475/">风水师诡谈</a></span><span class="s5">霸唱先生</span></li>
 
<li><span class="s1">[都市]</span><span class="s2"><a href="https://www.bequge.com/51_51474/">妖孽奶爸在都市</a></span><span class="s5">孤山树下</span></li>
 
<li><span class="s1">[都市]</span><span class="s2"><a href="https://www.bequge.com/51_51473/">都市之至尊军主</a></span><span class="s5">等一束光</span></li>
 
<li><span class="s1">[都市]</span><span class="s2"><a href="https://www.bequge.com/51_51468/">都市之别逼我修仙</a></span><span class="s5">凭轩戏雨</span></li>
 
<li><span class="s1">[科幻]</span><span class="s2"><a href="https://www.bequge.com/51_51466/">恐惧指数</a></span><span class="s5">周苏愉</span></li>
 
<li><span class="s1">[科幻]</span><span class="s2"><a href="https://www.bequge.com/51_51467/">纵横星空之任我行</a></span><span class="s5">萧遥竹竿</span></li>
 
<li><span class="s1">[网游]</span><span class="s2"><a href="https://www.bequge.com/51_51465/">重生末世之御宠为尊</a></span><span class="s5">虾米从不断更</span></li>
 
<li><span class="s1">[科幻]</span><span class="s2"><a href="https://www.bequge.com/51_51464/">纵横星际之暗黑风暴</a></span><span class="s5">云雾轻扬</span></li>
 
<li><span class="s1">[都市]</span><span class="s2"><a href="https://www.bequge.com/51_51463/">追梦之星</a></span><span class="s5">观三海</span></li>
 
<li><span class="s1">[科幻]</span><span class="s2"><a href="https://www.bequge.com/51_51462/">某奶爸的鬼气无限</a></span><span class="s5">不摇铃铛</span></li>
 
<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.bequge.com/51_51460/">女友提刀在门后怎么办</a></span><span class="s5">传语者</span></li>
 
<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.bequge.com/51_51461/">我从不骗人</a></span><span class="s5">逗神仙</span></li>
 
<li><span class="s1">[科幻]</span><span class="s2"><a href="https://www.bequge.com/51_51458/">植魔师</a></span><span class="s5">傲霜怒雪</span></li>
 
<li><span class="s1">[科幻]</span><span class="s2"><a href="https://www.bequge.com/51_51459/">我能看见经验值</a></span><span class="s5">红颜三千</span></li>
 
<li><span class="s1">[都市]</span><span class="s2"><a href="https://www.bequge.com/51_51457/">先撩为敬：国民男神，请自重</a></span><span class="s5">紫苏落葵</span></li>
 
<li><span class="s1">[都市]</span><span class="s2"><a href="https://www.bequge.com/51_51456/">平凡神壕</a></span><span class="s5">浴火焚城</span></li>
 
<li><span class="s1">[网游]</span><span class="s2"><a href="https://www.bequge.com/51_51455/">暗黑萝莉——进化</a></span><span class="s5">皓天欣</span></li>
 
<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.bequge.com/51_51454/">木叶之团藏</a></span><span class="s5">一伤二十八</span></li>
 
<li><span class="s1">[都市]</span><span class="s2"><a href="https://www.bequge.com/51_51453/">醉陌浮生</a></span><span class="s5">o十里o</span></li>
 
<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.bequge.com/51_51451/">我的抖音太无敌</a></span><span class="s5">残剑</span></li>
 
<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.bequge.com/51_51450/">武敬天下</a></span><span class="s5">昨夜西窗</span></li>
 
<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.bequge.com/51_51449/">从苦境开始当主神</a></span><span class="s5">弦上有春秋</span></li>
 
<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.bequge.com/51_51448/">隐宗宝藏</a></span><span class="s5">隐宗宗主</span></li>
 
<li><span class="s1">[都市]</span><span class="s2"><a href="https://www.bequge.com/51_51447/">最强龙宠</a></span><span class="s5">月下说梦</span></li>
 
<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.bequge.com/51_51446/">变身成仙</a></span><span class="s5">江川小河</span></li>
 
<li><span class="s1">[都市]</span><span class="s2"><a href="https://www.bequge.com/51_51444/">实力派演员</a></span><span class="s5">天赐三郎</span></li>
 
<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.bequge.com/51_51443/">变身在女权世界</a></span><span class="s5">逍遥小可爱</span></li>

</ul>

</div><div class="clear"></div>

</div></div>

		</div>
<div id="firendlink">
友情连接：<a href="https://www.bequge.com/" target="_blank">笔趣阁</a>
<a href="https://www.bequge.com/11_11452/" target="_blank">云穹之未来断点</a>
<a href="https://www.bequge.com/0_17/" target="_blank">至高使命</a>
<a href="https://www.bequge.com/15_15955/" target="_blank">凡人修仙之仙界篇</a>
<a href="https://www.bequge.com/10_10361/" target="_blank">极道天魔</a>
<a href="https://www.bequge.com/10_10238/" target="_blank">代汉</a>
<a href="https://www.bequge.com/11_11557/" target="_blank">道君</a>
<a href="https://www.bequge.com/35_35200/" target="_blank">王者时刻</a>
<a href="https://www.bequge.com/28_28784/" target="_blank">天下第九</a>
<a href="https://www.bequge.com/0_124/" target="_blank">诡秘之主</a>
<a href="http://www.soquge.com/" target="_blank">笔趣阁</a>
<a href="https://www.35wx.com/" target="_blank">三五文学网</a>
<a href="https://www.73zw.com/" target="_blank">七三中文网</a></div>
		
        <div class="dahengfu"><script type="text/javascript">bottom();</script></div>
<div class="footer">
			<div class="footer_link"></div>
			<div class="footer_cont">
如果你喜欢笔趣阁,请记得多多分享网址给你的朋友们哟,感谢大家的支持！
 <br />       
笔趣阁提供<strong>免费网络小说</strong>在线阅读,是非盈利的免费网络小说阅读网站。<br />
				<script>footer();right();</script>
			</div>
		</div>
        
	</div>
 
</body>
</html> 


