<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
    <title>[[${article.articlename}]]章节目录-[[${hostName}]]</title>
    <meta id="ctl00_metaKeywords" name="keywords" th:content="|${article.articlename}章节目录|"/>
      <meta id="ctl00_metaDescription" name="description" th:content="|${article.articlename}章节目录, 《${article.articlename}》情节跌宕起伏、扣人心弦，是一本情节与文笔俱佳的作品，${hostName}免费提供${article.articlename}最新清爽干净的文字章节在线阅读。|" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
     <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
  <header id="top" class="channelHeader channelHeader2"><a href="javascript:history.go(-1);" class="iconback"><img src="/images/back.png" alt="返回"/></a>
  <span class="title">[[${article.articlename}]]</span><a href="/" class="iconhome"><img src="/images/home.png" alt="首页"/></a></header>
  
<div id="chapterlist" class="directoryArea">
<script>_17mb_top()</script>
<p><a href="#bottom" style="color:Red;">↓直达页面底部</a></p>
<p th:each="item:${chapterList}">
	<a th:each="entry:${item}" th:href="|/${article.articleid/1000}_${article.articleid}/${entry.key}.html|" >[[${entry.value[entry.key]}]]</a>
</p>
</div>
<p class="Readpage" id="bottom"></p><p class="note"></p>
    <script language="javascript" type="text/javascript" src="/js/zepto.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/common.js"></script>
<footer th:include="foot  :: foot"></footer>
</body>
<script src="/js/wap.js"></script>
</html>
