<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
    <title>[[${chapter.chapterName}]]-[[${article.articlename}]]-[[${hostName}]]</title>
    <meta name="robots" content="noindex,follow" />
    <meta name="keywords" th:content="|${chapter.chapterName},${article.articlename},${article.author}|" />
    <meta name="description" th:content="|${hostName}提供${article.articlename} ${chapter.chapterName}最新章节免费阅读章节内容.|" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/read.css?version=20180812" />
    <script language="javascript" type="text/javascript" src="/js/read.js?version=20180812"></script>
    <script language="javascript" type="text/javascript" src="/js/yuedu.js?version=20180812"></script> 
    <style>
	.topMenuFree a{width:42%;}
	.topMenuFree  .fontsize{width:16%;}
    </style>
    </head>
<body id="read" class="read">
<header id="top" class="channelHeader channelHeader2"><a href="javascript:history.go(-1);" class="iconback"><img src="/images/back.png" alt="返回"/></a><span class="title">[[${chapter.chapterName}]]&nbsp;&nbsp;[[${article.articlename}]]</span><a href="/" class="iconhome"><img src="/images/home.png" alt="首页"/></a></header>
<div class="bg"></div>
<a name="pagetop"></a>
<p class="Readpage" style="padding:2px;">
    	<a id="lightdiv" class="button lightoff" onclick="nr_setbg('light')">关灯</a>
        <a id="huyandiv" class="button huyanon"  onclick="nr_setbg('huyan')">护眼</a>&nbsp;&nbsp;&nbsp;&nbsp;
        字体：<a id="fontbig" class="sizebg" onclick="nr_setbg('big')">大</a> <a id="fontmiddle" class="sizebg" onclick="nr_setbg('middle')" >中</a> <a id="fontsmall" class="sizebg" onclick="nr_setbg('small')">小</a>
</p>
<p class="Readpage">
<a th:href="|/${article.articleid/1000}_${article.articleid}/${chapter.pre != null? chapter.pre + '.html':''}|" id="pt_prev" class="Readpage_up">上一章</a>
<a th:href="|/${article.articleid/1000}_${article.articleid}/|" id="pt_mulu" class="Readpage_up">目录</a>
<a th:href="|/${article.articleid/1000}_${article.articleid}/${chapter.next != null? chapter.next + '.html':''}|" id="pt_next" class="Readpage_down js_page_down">下一章</a>
</p>
<div id="chaptercontent" class="Readarea ReadAjax_content">
[(${chapter.content})]
<p style="width:100%;text-alight:center;"><a th:href="|javascript:addBookMarkByManual(${article.articleid},${chapter.chapterId}, '${article.articlename}', '${chapter.chapterName}');|" style="text-align:center;color:red;">『加入书签，方便阅读』</a></p>
</div>
<script language="javascript">getset()</script>
<script language="javascript">getset1()</script>
<p class="synopsisAd ReadAd ReadAd2"></p>
<p class="Readpage">
<a th:href="|/${article.articleid/1000}_${article.articleid}/${chapter.pre != null? chapter.pre + '.html':''}|" id="pt_prev" class="Readpage_up">上一章</a>
<a th:href="|/${article.articleid/1000}_${article.articleid}/|" id="pt_mulu" class="Readpage_up">目录</a>
<a th:href="|/${article.articleid/1000}_${article.articleid}/${chapter.next != null? chapter.next + '.html':''}|" id="pt_next" class="Readpage_down js_page_down">下一章</a>
</p>
<script language="javascript" type="text/javascript" src="/js/zepto.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/common.js"></script>
<script language="javascript" type="text/javascript" src="/js/index.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    var lastread=new LastRead();lastread.set('[[${article.articleid}]]', '[[${chapter.chapterId}]]', '[(${article.articlename})]', '[(${chapter.chapterName})]', '[(${article.author})]');
/*]]>*/
</script>
<script type="text/javascript" th:utext="${ad1}${ad2}"></script>
<footer th:include="foot  :: foot"></footer>
</body>
<script src="/js/wap.js"></script>
</html>
