<!--<form name="articlesearch" class="searchForm" method="post" action="/s.php" style="">  
    <input type="text" name="keyword" class="searchForm_input searchForm_input2" value="输入书名•作者"  />
    <input type="hidden" name="t" value="1" />
    <input type="submit" class="searchForm_btn" value="搜索" />
</form>-->

<p class="note">
</p>
<footer>
    <a href="#top"><img src="/images/icon-backtop.gif" title="↑" alt="↑"/></a>
    <p class="version channel">
    <a href="/">首页</a>
    <a href="/mybook.php" >我的书架</a>
    <a href="/newcase.html" >阅读记录</a>
    </p>
</footer>
