<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
    <title th:text="|${article.articlename}最新章节(${article.author})_${article.articlename}全文阅读_爱好小说|"></title>
    <meta id="ctl00_metaKeywords" name="keywords" th:content="|${article.articlename},${article.articlename}最新章节|"/>
    <meta id="ctl00_metaDescription" name="description" th:content="|${article.articlename}最新章节由网友提供，《${article.articlename}》情节跌宕起伏、扣人心弦，是一本情节与文笔俱佳的${categorys[article.sortid]}，爱好小说免费提供${article.articlename}最新清爽干净的文字章节在线阅读。|" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta http-equiv="Cache-Control" content="max-age=0" />
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta property="og:type" content="novel"/>
    <meta property="og:title" th:content="${article.articlename}"/>
    <meta property="og:description" th:content="${article.intro}"/>
    <meta property="og:image" th:content="|${pcurl}/files/article/image/${article.articleid/1000}/${article.articleid}/${article.articleid}s.jpg|"/>
    <meta property="og:novel:category" th:content="${categorys[article.sortid]}"/>
    <meta property="og:novel:author" th:content="${article.author}"/>
    <meta property="og:novel:book_name" th:content="${article.articlename}"/>
    <meta property="og:novel:read_url" th:content="|https://m.2hxs.com/${article.articleid/1000}_${article.articleid}/|"/>
    <meta property="og:url" id="metaurl" th:content="|https://m.2hxs.com/${article.articleid/1000}_${article.articleid}/|"/>
    <meta property="og:novel:status" th:content="${article.fullflag == 0?'连载中':'已完结'}"/>
    <meta property="og:novel:update_time" th:content="${#dates.format(new java.util.Date(new java.lang.Long(article.lastupdate + '000')), 'yyyy-MM-dd HH:mm:ss')}"/>
    <meta property="og:novel:latest_chapter_name" th:content="${article.lastchapter}"/>
    <meta property="og:novel:latest_chapter_url" th:content="|https://m.2hxs.com/${article.articleid/1000}_${article.articleid}/${article.lastchapterid}.html|"/>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/bookinfo.css" />
  	<script src="//msite.baidu.com/sdk/c.js?appid=1578540365240191"></script>
  	<script th:inline="javascript" type="application/ld+json" >
        {
            "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
            "@id": "https://m.2hxs.com/[[${article.articleid/1000}]]_[[${article.articleid}]]/",
            "appid": "1578540365240191",
            "title": "[(${article.articlename})]最新章节([(${article.author})])_[(${article.articlename})]全文阅读_爱好小说",
            "images": [
                "[[${pcurl}]]/files/article/image/[[${article.articleid/1000}]]/[[${article.articleid}]]/[[${article.articleid}]]s.jpg",
            ],
            "description": "[(${article.intro})]",
            "pubDate": "[[${#dates.format(new java.util.Date(new java.lang.Long(article.lastupdate + '000')), 'yyyy-MM-dd HH:mm:ss')}]]"
        }
    </script>
</head>
<body>
    <div class="bg">
    </div>
    <header class="channelHeader channelHeader2">
<a href="javascript:history.go(-1);" class="iconback"><img src="/images/back.png" alt="返回"/></a>
<span class="title">[[${article.articlename}]]</span>
<a href="/" class="iconhome"><img src="/images/home.png" alt="首页"/></a>
</header>
    <p class="synopsisAd" style="color: red;"></p>
    <div class="synopsisArea">
        <div class="synopsisArea_detail">
            <img th:src="|${pcurl}/files/article/image/${article.articleid/1000}/${article.articleid}/${article.articleid}s.jpg|" />
            <a th:href="|${article.articleid/1000}_${article.articleid}/|">
                <p class="author" th:text="|作者：${article.author}|"></p>
            </a>
            <p class="sort" th:text="|类别：${categorys[article.sortid]}|"></p>
            <p class="" th:text="|状态：${article.fullflag == 0?'连载中':'已完结'}|"></p>
            <p class="" th:text="|更新：${#dates.format(new java.util.Date(new java.lang.Long(article.lastupdate + '000')), 'yyyy-MM-dd HH:mm:ss')}|"></p>
        </div>
        <p class="btn">
			<a th:href="|/${article.articleid/1000}_${article.articleid}/all.html|">完整目录</a><a th:href="|javascript:addBookMarkByManual(0,${article.articleid});|" class="btn_toBookShelf">加入书架</a><a href="/mybook.php" class="btn_toMyBook">我的书架</a></p>
    <!--<script>_17mb_top()</script> -->
        <p class="review" th:text="${article.intro}"></p>
    </div>
    <div  class="recommend">
        <h2><a>最新章节 &nbsp;&nbsp;&nbsp;&nbsp;</a> &nbsp;&nbsp;&nbsp; <a href="#remind" style="color:#F00;text-shadow:none">更新报错</a></h2>
	<div class="directoryArea">
		<p th:each="item:${chapterList}"><a th:each="entry: ${item}" th:href="'/' + ${article.articleid / 1000} + '_' + ${article.articleid} + '/' + ${entry.key} + '.html'" th:text="${entry.value}"></a></p>
	</div>
 	 <h2><a th:href="|/${article.articleid/1000}_${article.articleid}/all.html|">查看完整目录</a></h2>
    </div>
	<form name="articlesearch" class="searchForm" method="post" action="">
		<input type="text" id="remindContent"  placeholder="请输入要提醒的内容" value="" style="border: 1px #c0deea solid;
			font-size: 14px;
			background: #f8fdff;
			padding: 0 5px;
			width: 100%;
			height: 30px;
			line-height: 30px;
			color: #cbcfd1;" />
		<input type="button" class="searchForm_btn" style="
		width: 35%;
		background: none;
		padding-left: 0px;
		color: red;" value="提醒管理员更新出错" id="remind" />
	</form>
    <script language="javascript" type="text/javascript" src="/js/zepto.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/common.js"></script>
    <script language="javascript" type="text/javascript" src="/js/index.js"></script>
    <script language="javascript" type="text/javascript" src="/js/lazyload.js"></script>
  <script language="javascript" type="text/javascript">
$(function(){
    //ReverseChapterList()
	//$("img.lazy").lazyload();
});

$('.nav a').click(function(){
	$(this).addClass('sel');
	$(this).siblings().removeClass('sel');
	
	$obj = $('.'+ $(this).attr('id'));
	
	$obj.siblings().hide();
	$obj.show();
	$('.bomtype').text($obj.data('type'));
	$('.bomtypeclass').text($(this).attr('id'));
});	

$(function(){
	$('.btn_to2014').click(function(){
		$('.bom_synopsis').show();
		$('.bg').show();
	});
	
	$('.bomhide').click(function(){
		$('.bombox').hide();
		$('.bg').hide();	
	});
	$("#remind").click(function(){
           var text = $('#remindContent').val();
           if(text!=''){
		$.ajax({
			type:'post',
			url:'/remind.php',
			data:{aid:$('.title').text()+"--->"+text},
			error: function(){alert("出错了，请稍候")},
			success: function(data){
						alert("问题提交成功，我们会尽快处理！");
					}
		});
             }else{
                  alert('请输入要反馈的内容...'); 
             }
	})
})
    </script>
<script>
</script>
<script src="/js/wap.js"></script>
</body>
</html>
