<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
    <title>搜索小说-爱好小说</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <style>.tips{border:1px solid #C0DEEA;margin:10px;padding:10px;color:red}</style>
    <script src="/js/wap.js"></script>
</head>
<body>
    <strong></strong>
    <header class="channelHeader">
<a class="iconback" href="/"><img src="/images/header-back.gif" alt="返回"/></a>
搜索小说
<a class="iconhome" href="/"><img src="/images/header-backhome.gif" alt="首页"/></a>
</header>
<script>_17mb_top()</script>
    <div class="recommend mybook">
    <div class="tips" th:if="${#lists.isEmpty(result)}">未能找到"[[${keyword}]]"相关内容</div>
	<div th:each="item, userStat:${result}" class="hot_sale">
	<span th:class="|num num${userStat.index}|">[[${userStat.index+1}]]</span>
	<a th:href="|/${item.articleid/1000}_${item.articleid}/|">
		<p class="title">[[${item.articlename}]]</p>
		<p class="author">[[${categorys[item.sortid]}]] | 作者：[[${item.author}]]</p>
		<p class="author">[[${item.fullflag?'已完结':'连载中'}]] | 更新：[[${item.lastchapter}]]</p>
	</a>	
	</div>
</div>
    <script language="javascript" type="text/javascript" src="/js/zepto.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/common.js"></script>
</body>
</html>