<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
    <title>{?$sortname?}_{?$_17mb_sitename?}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/sort.css" />
    <script src="/js/wap.js"></script>
</head>
<body>
    <header class="channelHeader">
<a href="javascript:history.go(-1);" class="iconback"><img alt="返回" src="/images/back.png"></img></a>
分类
<a href="/" class="iconhome"><img alt="首页" src="/images/home.png"></img></a>
</header>

    <nav class="sortChannel_nav">
        <a class="on" href="/xclass/0/1.html">全部</a><a  href="/xclass/1/1.html">玄幻小说</a><a  href="/xclass/2/1.html">仙侠小说</a><a  href="/xclass/3/1.html">都市小说</a><a  href="/xclass/4/1.html">军史小说</a><a  href="/xclass/5/1.html">网游小说</a><a  href="/xclass/6/1.html">科幻小说</a><a  href="/xclass/7/1.html">其他小说</a><a  href="/xclass/8/1.html">言情小说</a>
	</nav>
    <div class="recommend">
        <div id="main"> 
        <div class="hot_sale" th:each="item:${list}">
        <a th:href="|/${item.articleid/1000}_${item.articleid}/|">
                            <img class="lazy"  th:src="|${pcurl}/files/article/image/${item.articleid/1000}/${item.articleid}/${item.articleid}s.jpg|"
                                src="/images/defaultimg.png" onerror="this.src='/images/nopic.gif'"></img>
                            <p class="title" th:text="${item.articlename}"></p>
                            <p class="author" th:text="|作者：${item.author}|"></p>
                        </a>
                        <p class="review" th:utext="|简介：${item.intro}|"></p>
        </div>
        <p class="page">
        <a th:if="${pageNo>1}" th:href="|/xclass/${classNum}/${pageNo-1}.html|">上页</a>
		<a id="nextPage" th:href="|/xclass/${classNum}/${pageNo+1}.html|">下页</a>
        </p>
	<br />
    </div>
    </div>
    <script language="javascript" type="text/javascript" src="/js/zepto.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/sort.js"></script>
    <script language="javascript" type="text/javascript" src="/js/lazyload.js"></script>
    <script language="javascript" type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" language="javascript">
    $(function(){
	    $("img.lazy").lazyload();
    });
    </script>
<script>_17mb_bottom();_17mb_xuanfu();</script>
{?include file="foot.html"?}
</body>
</html>
