<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
    <title>{?$sortname?}_{?$_17mb_sitename?}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/sort.css" />
    <script src="/js/wap.js"></script>
</head>
<body>
    <header class="channelHeader">
<a href="javascript:history.go(-1);" class="iconback"><img alt="返回" src="/images/back.png"></img></a>
分类
<a href="/" class="iconhome"><img alt="首页" src="/images/home.png"></img></a>
</header>

    <nav class="sortChannel_nav">
    <!-- <a {?if $sortid == 0?}class="on"{?/if?} href="/xclass/0/1.html">全部</a>{?section name=i loop=$sort?}<a {?if $sortid == $sort[i].sortid?}class="on"{?/if?} href="/xclass/{?$sort[i].sortid?}/1.html">{?$sort[i].sortname?}</a>{?/section?}  -->
</nav>
    <div class="recommend">
        <div id="main"> 
        <div class="hot_sale" th:each="item:${list}">
        <a th:href="'/' + ${item.articleid/1000} + '_' + ${item.articleid} + '/' ">
                            <img class="lazy"  th:attr="data-original=${pcurl} + '/files/article/image/' + ${item.articleid/1000} + '/' + ${item.articleid} + '/' + ${item.articleid} + 's.jpg'"
                                src="/images/defaultimg.png" onerror="this.src='/images/nopic.gif'"></img>
                            <p class="title" th:text="${item.articlename}"></p>
                            <p class="author" th:text="'作者：' + ${item.author}"></p>
                        </a>
                        <p class="review" th:utext="'简介：' + ${item.intro} + '各位书友要是觉得《' + ${item.articlename} + '还不错的话请不要忘记向您QQ群和微博里的朋友推荐哦！' "></p>
        </div>
        <p class="page">
		{?$jumppage?}
        </p>
	<br />
    </div>
    </div>
    <script language="javascript" type="text/javascript" src="/js/zepto.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/sort.js"></script>
    <script language="javascript" type="text/javascript" src="/js/lazyload.js"></script>
    <script language="javascript" type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" language="javascript">
    $(function(){
	    $("img.lazy").lazyload();
    });
    </script>
<script>_17mb_bottom();_17mb_xuanfu();</script>
{?include file="foot.html"?}
</body>
</html>
