<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
    <title>[[${order=='week'?'周':(order=='month'?'月':(order=='all'?'总':''))}]]排行榜-爱好小说</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/sort.css" />
    <script src="/js/wap.js"></script>
</head>
<body>
    <header class="channelHeader">
         <div class="tabArea tab-navarea">
          <div class="tab-nav tab-nav2 clearfix">
                    <h2 style="width:16%">
                        <a href="javascript:history.go(-1);" class="iconback"><img alt="返回" src="/images/back.png"></a>
                    </h2>
                    <h2 style="width:24%">
                        <a href="/ph/week.html"  th:class="${order=='week'?'tab-nav-cur':''}">周榜</a>
                    </h2>
                    <h2 style="width:24%">
                        <a href="/ph/month.html" th:class="${order=='month'?'tab-nav-cur':''}">月榜</a></h2>
                    <h2 style="width:24%">
                         <a href="/ph/all.html" th:class="${order=='all'?'tab-nav-cur':''}">总榜</a>
                    </h2>
                    <h2 style="width:12%;text-align:right;">
                    	<a class="iconback" href="/"><img src="/images/home.png" alt="首页"/></a>
                    </h2>
                </div>
                 </div>
            </header>   
    <nav class="sortChannel_nav">
        <a th:class="${classNum ==0?'on':''}" th:href="|/ph/${order}.html|">全部</a>
        <a th:class="${classNum==1?'on':''}" th:href="|/ph/${order}1.html|">玄幻小说</a>
        <a th:class="${classNum==2?'on':''}" th:href="|/ph/${order}2.html|">仙侠小说</a>
        <a th:class="${classNum==3?'on':''}" th:href="|/ph/${order}3.html|">都市小说</a>
        <a th:class="${classNum==4?'on':''}" th:href="|/ph/${order}4.html|">军史小说</a>
        <a th:class="${classNum==5?'on':''}" th:href="|/ph/${order}5.html|">网游小说</a>
        <a th:class="${classNum==6?'on':''}" th:href="|/ph/${order}6.html|">科幻小说</a>
        <a th:class="${classNum==7?'on':''}" th:href="|/ph/${order}7.html|">其他小说</a>
        <a th:class="${classNum==8?'on':''}" th:href="|/ph/${order}8.html|">言情小说</a>         
</nav>
    <div class="recommend">
        <div id="main">        
 			<div class="hot_sale" th:each="item:${list}">
	        <a th:href="|/${item.articleid/1000}_${item.articleid}/|">
	                            <img class="lazy"  th:src="|${pcurl}/files/article/image/${item.articleid/1000}/${item.articleid}/${item.articleid}s.jpg|"
	                                src="/images/defaultimg.png" onerror="this.src='/images/nopic.gif'"></img>
	                            <p class="title" th:text="${item.articlename}"></p>
	                            <p class="author" th:text="|作者：${item.author}|"></p>
	                        </a>
	                        <p class="review" th:utext="|简介：${item.intro}|"></p>
       	 </div>               
        </div>
        <p class="page">
        <a th:if="${pageNo>1}" th:href="|/ph/${order}${sortid==0?'':sortid}_${pageNo-1}.html|">上页</a>
		<a id="nextPage" th:href="|/ph/${order}${sortid==0?'':sortid}_${pageNo+1}.html|">下页</a>
        </p>
        <br />
    </div>
    <script language="javascript" type="text/javascript" src="/js/zepto.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/sort.js"></script>
    <script language="javascript" type="text/javascript" src="/js/lazyload.js"></script>
    <script language="javascript" type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" language="javascript">
    $(function(){
	    $("img.lazy").lazyload();
    });
    </script>
<script>_17mb_bottom();_17mb_xuanfu();</script>
<div th:include="foot  :: footNote"></div>
<footer th:include="foot  :: foot"></footer>
</body>
</html>
