<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
    <title>个人中心-{?$_17mb_sitename?}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link rel="stylesheet" href="/css/reset.css" />
     <link rel="stylesheet" href="/css/pcstyle.css" />
</head>
<body>
<header class="channelHeader">
<a href="javascript:history.go(-1);" class="iconback"><img src="/images/header-back.gif" alt="返回"/></a>
<span class="title">修改资料</span>
<a href="/" class="iconhome"><img src="/images/header-backhome.gif" alt="首页"/></a>
</header>

<div class="edit">
<p class="info">
用户名：<em>{?$_17mb_uname?}</em><br/>
书架容量：<em>30</em>
</p>
{?include file="17mb/templates/usertop.html"?}
</div>

{?include file="17mb/templates/foot.html"?}
</body>
</html>